{% extends "navbar.html" %}
{% load static %}
{% block title %}
Chat
{% endblock %}
{% block content %}
<h1 id="display">Chat App</h1>
<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'js/axios.min.js' %}"></script>
{% if user.friends.all.exists %}
{% for friend in user.friends.all %}
    <button onclick="changeClient('{{ friend.name }}')" class="friends">
        {{ friend.name }}
    </button>
{% endfor %}
    {% else %}
    <h1>You have no friends</h1>
    <a href="/friends">Find some !</a>
{% endif %}
<div id="messages" class="messages"></div>
    <div class="button_msg_holder">
        <input id="message" class="msg_input">
        <button id="send" class="send_request">Send</button>
    </div>

<script>
    var currClient;
    var csrftoken = "{{ csrf_token }}"
    //important to close url lobby/ instead of lobby
    var chatSocket = new WebSocket(
        'ws://'+window.location.host+'/ws'+window.location.pathname + '{{user.name}}/'
    )

    chatSocket.onclose = (e) => {
        $("#messages").append()
    }

    chatSocket.onmessage = (e) => {
        var data = JSON.parse(e.data)
        var author = data['author']
        if(author === currClient){
            document.getElementById('messages').append(
              data.message
            )
        }

        console.log(data)
    }

    document.getElementById('send').onclick = (e) => {
        var payload = {
            'type':'message',
            'message':document.getElementById('message').value,
            'client':currClient
        }
        chatSocket.send(JSON.stringify(payload))
        $("#messages").append(document.getElementById('message').value)
        $("#message").val('')
    }

    function changeClient(name){
        var messages = $("#messages")
        messages.empty()
        currClient = name
        $('display').val()
        axios({
            method:'post',
            url: '/chat/getChatMsg/',
            headers: {"X-CSRFToken": csrftoken},
            csrftoken: csrftoken,
            data: {
                'client':currClient
            }
        }).then(res => res['data']).then(proc => proc.forEach(elem =>
            messages.append(
                elem['fields'].content + "<br />")))
        console.log(currClient)
    }

    console.log('{{ user.name }}')

</script>
{% endblock %}