<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Chat</title>
           <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="{% static 'chat.css' %}">
</head>
<body>
<h1>Chat App</h1>
{% if user.friends.all.exists %}
{% for friend in user.friends.all %}
    <button onclick="changeClient('{{ friend.name }}')">
        {{ friend.name }}
    </button>
{% endfor %}
    {% else %}
    <h1>You have no friends</h1>
    <a href="/friends">Find some !</a>
{% endif %}
<input id="message">
<div id="messages"></div>
<button id="send">Send</button>
<script>
    var currClient;
    var csrftoken = "{{ csrf_token }}"
    //important to close url lobby/ instead of lobby
    var chatSocket = new WebSocket(
        'ws://'+window.location.host+'/ws'+window.location.pathname + '{{user.name}}/'
    )

    chatSocket.onclose = (e) => {
        $("#messages").append()
    }

    chatSocket.onmessage = (e) => {
        var data = JSON.parse(e.data)
            document.getElementById('messages').append(
              data.message
            )
        console.log(data)
    }

    document.getElementById('send').onclick = (e) => {
        var payload = {
            'type':'message',
            'message':document.getElementById('message').value,
            'client':currClient
        }
        chatSocket.send(JSON.stringify(payload))
        $("#messages").append(document.getElementById('message').value)
        $("#message").val('')
    }

    function changeClient(name){
        var messages = $("#messages")
        messages.empty()
        currClient = name
        axios({
            method:'post',
            url: '/chat/getChatMsg/',
            headers: {"X-CSRFToken": csrftoken},
            csrftoken: csrftoken,
            data: {
                'client':currClient
            }
        }).then(res => res['data']).then(proc => proc.forEach(elem => messages.append(elem['fields'].content + "<br />")))
        console.log(currClient)
    }

    console.log('{{ user.name }}')

</script>
</body>
</html>