.header {
    background-color: lightblue;
    display: flex;
    justify-content: space-between;
}

.ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.li {
    display: inline;
    float: left
}

.p {
    float: right;
    flex:3;
    height: 100%;
}

.msg_input {
    padding-bottom: 10px;
    background-color: lightblue;
    flex: 2;
}

.send_button {
    float: right;
    border: none;
    background-color: lightblue;
}

.button_msg_holder {
    position: fixed;
    bottom: 0;
    width: 100%;
    justify-content: center;
    display: flex;
}

.messages {
    zoom: 3
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.friends {
        border: none;
        background-color: lightblue;
}

.send_request {
    border: none;
    background-color: lightblue;
}

button:hover {
    background-color: lightgreen;
}

button {
    background-color: lightblue;
    border: none;
}